<!-- footer -->
<footer class="flex justify-center px-4 text-black bg-white font-serif">
  <div class="container py-6">
    <hr class="h-px mt-6 bg-gray-700 border-none">

    <div class="flex flex-col items-center justify-between mt-6 md:mt-0 md:flex-row">
      <div>
        &copy; 2020 <a href="/about" class="hover:text-red-700">Jérémy Rekier.</a>
        <p class="text-xs">Icons by <a href="https://www.flaticon.com/authors/freepik"  class="hover:text-red-700" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" class="hover:text-red-700" title="Flaticon"> www.flaticon.com</a></p>
      </div>
      <div class="flex md:m-0">
        <div class="mx-4">
          <a href="https://twitter.com/JRekier" class="px-4 text-sm">      
            <img class="h-8" src="/images/icons/socialmedia/043-twitter.svg">
          </a>
        </div>
        <div class="mx-4">
          <a href="https://www.reddit.com/user/DrWatsonJr" class="px-4 text-sm">      
            <img class="h-8" src="/images/icons/socialmedia/042-reddit.svg">
          </a>
        </div>
        <div class="mx-4">
          <a href="https://github.com/jrekier" class="px-4 text-sm">      
            <img class="h-8" src="/images/icons/socialmedia/038-github.svg">
          </a>
        </div>
      </div>
    </div>
  </div>

</footer>