/* @import 'nav.css'; */
/* @import 'prismjs.css'; */

/* purgecss start ignore */
@tailwind base;
/* purgecss end ignore */

/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-lg font-sans;
  color: #333333;
}
/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-2xl my-6 font-bold font-serif;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-xl my-3 font-semibold font-serif;
}
/* Links */
.markdown a {
  @apply text-red-700;
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply mb-4;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
/* Blockquotes */
/* .markdown blockquote {
  @apply p-0 p-2 mx-6 mb-4 text-gray-700 italic;
  text-indent: 25px;
} */
.markdown blockquote {
  @apply p-2 mx-6 mb-4 text-gray-700 italic;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
  text-indent: 25px;
}
.markdown blockquote:before {
  @apply text-red-700;
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  /* color: #7a7a7a; */
}
.markdown blockquote > p {
  @apply mb-0;
}
/* figcaption */
.markdown figcaption {
  @apply text-sm text-gray-700 italic;
}
.markdown figcaption > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border border-gray-400;
}
.markdown tr:nth-child(odd) {
  @apply bg-gray-100;
}
.markdown table {
  @apply mb-6;
}

tt {
  font-size: 1.21em;
  @apply font-semibold;
}

/* .katex-display > .katex {
  max-width: 100%;
}
.katex-display > .katex > .katex-html {
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-left: 2px;
  padding-right: 2px;
} */

/* @font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 400;
  src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v11/EJRVQgYoZZY2vCFuvAFWzr-_dSb_.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* fix katex fraction bars: https://github.com/KaTeX/KaTeX/issues/2236 */
*, ::after, ::before { border-color: #000 }

/* purgecss start ignore */
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;
